<div class="sidebar" [class.expanded]="isSidebarExpanded" (mouseenter)="toggleSidebar()" (mouseleave)="toggleSidebar()">
  <div class="menu-items">
    <ion-list lines="none">
      <!-- Lista Ionic senza bordi -->

      <ion-item button [routerLink]="['/personnel/dashboard']" routerLinkActive="active">
        <ion-icon name="home-outline"></ion-icon>
        <span class="menu-item-text">Dashboard</span>
      </ion-item>

      <ion-item button [routerLink]="['/personnel/add-user']" routerLinkActive="active">
        <ion-icon name="person-add-outline"></ion-icon>
        <span class="menu-item-text">Crea Utente</span>
      </ion-item>

      <ion-item button [routerLink]="['/personnel/add-hotel']" routerLinkActive="active">
        <ion-icon name="business-outline"></ion-icon>
        <span class="menu-item-text">Crea Hotel</span>
      </ion-item>

      <ion-item button [routerLink]="['/personnel/rooms']" routerLinkActive="active">
        <ion-icon name="bed-outline"></ion-icon>
        <span class="menu-item-text">Stanze</span>
      </ion-item>

      <ion-item button [routerLink]="['/nearby-hotels']" routerLinkActive="active">
        <ion-icon name="compass-outline"></ion-icon>
        <span class="menu-item-text">Hotel nelle vicinanze</span>
      </ion-item>


      <ion-item button [routerLink]="['/bookings']" routerLinkActive="active">
        <ion-icon name="calendar-outline"></ion-icon>
        <span class="menu-item-text">Prenotazioni</span>
      </ion-item>


      <ion-item button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span class="logout">Esci</span>
      </ion-item>
    </ion-list>
  </div>
</div>