<ion-content id="landing-page" [fullscreen]="false">
  <div class="hero-section">
    <div class="hero-overlay"></div>
    <img ngSrc="../../assets/background-image.jpg" alt="Hotel Forese" class="hero-background-image" fill priority />

    <div class="hero-text-container">
      <ion-text class="hero-title">
        Benvenuti all'Hotel Forese
      </ion-text> <!--Non usiamo IonTitle perché non supporta il break-word-->

      <div class="gold-divider"></div>

      <ion-text class="hero-subtitle">
        Un'oasi di lusso dove l'eleganza incontra il comfort. Lasciati coccolare dalla nostra
        ospitalità esclusiva e da servizi su misura.
      </ion-text>

      <ion-button size="large" class="button primary" [routerLink]="['/guest-rooms']" routerLinkActive="active">
        Prenota Ora
      </ion-button>
    </div>
  </div>

  <div class="section-title-container">
    <ion-text>
      <h1>Perché Scegliere Il Nostro Hotel?</h1>
    </ion-text>
  </div>

  <ion-card class="card">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" size-md="4" class="card-image-col">
             <div class="image-wrapper">
                <img ngSrc="../../assets/family-room.jpg" alt="Stanza Familiare" class="rounded-image" fill>
             </div>
          </ion-col>
          <ion-col size="12" size-md="7" offset-md="1" class="card-text-col">
            <ion-text class="card-text">
              L'Hotel Forese è un luogo accogliente per grandi e piccini.<br /><br />
              Grazie alle nostre ampie camere ricche di ogni comfort e ad un personale esperto ed altamente qualificato,
              il nostro hotel può vantare clienti sempre soddisfatti ed un servizio fuori dall'ordinario!<br /><br />
              Vuoi rilassarti? Divertirti? Svagarti? Abbiamo tutto ciò che fa per te!<br />
              Vieni a trovarci, e vivi un soggiorno da sogno!
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <section class="rooms-section">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="4" class="rooms-text-col">
          <h1>Sei ancora indeciso?</h1>
          <ion-button size="large" class="button secondary" [routerLink]="['/guest-rooms']" routerLinkActive="active">
            Visualizza Le Nostre Stanze
          </ion-button>
        </ion-col>
        <ion-col size="12" size-md="7" offset-md="1" class="rooms-image-col">
           <div class="image-wrapper">
              <img ngSrc="../../assets/example-pool.jpg" alt="Piscina" class="rounded-image" fill>
           </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

</ion-content>