<ion-content [fullscreen]="false">
  <div class="flex-container">  
    <div class="login-box">
      <div class="login-title">Accedi al tuo account</div>
      <ion-item>
        <ion-input placeholder="username" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="password" type="password"></ion-input>
      </ion-item>
      <ion-button class="login-btn" expand="block" size="full" fill="clear">Login</ion-button> 
      <ion-button class="signup-btn" expand="block" size="full" fill="clear">Sign up!</ion-button>
    </div>

  </div>
</ion-content>
