<ion-app>
  @if(showPersonnelLayout) {
  <ion-split-pane contentId="main-content" when="md"> <!--Su mobile compare un hamburger menu-->
    <ion-menu contentId="main-content" type="overlay">
      <!--Vogliamo che il contenuto venga coperto dal menù una volta aperto-->
      <ion-content>
        <ion-list lines="none">

          <ion-item button routerLink="/personnel/booking-management" routerLinkActive="active">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>Gestisci Prenotazioni</ion-label>
          </ion-item>

          <ion-item button routerLink="/personnel/bookings-history" routerLinkActive="active">
            <ion-icon name="albums-outline" slot="start"></ion-icon>
            <ion-label>Storico prenotazioni</ion-label>
          </ion-item>

          <ion-item button routerLink="/personnel/hotels" routerLinkActive="active">
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-label>Hotel</ion-label>
          </ion-item>

          <ion-item button routerLink="/personnel/rooms" routerLinkActive="active">
            <ion-icon name="bed-outline" slot="start"></ion-icon>
            <ion-label>Stanze</ion-label>
          </ion-item>

          <ion-item button routerLink="/personnel/add-user" routerLinkActive="active">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>Crea Utente</ion-label>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <app-navbar></app-navbar>
      <ion-router-outlet></ion-router-outlet>
    </div>

  </ion-split-pane>
  }
  @else {
  <div class="ion-page">
    <app-navbar></app-navbar>
    <ion-router-outlet></ion-router-outlet>
  </div>
  }

</ion-app>