ion-router-outlet {
  margin-left: 80px;         // Margine iniziale per la sidebar collassata
  transition: margin 0.3s ease; // Transizione margine
  
  .sidebar:hover + & {       // Selettore per hover sulla sidebar
    margin-left: 250px;      // Margine per sidebar espansa
  }
}