.hotel-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 12px; // Angoli più arrotondati
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombra delicata
}

.hotel-card ion-card-title {
  color: var(--ion-color-primary);
  font-weight: bold;
}

.hotel-card ion-card-content ion-item {
  --background: transparent; // Rimuove lo sfondo dagli item interni
  --inner-padding-end: 0; // Allinea i bottoni al bordo
}

.hotel-card p {
  font-size: 1rem;
  line-height: 1.4;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  text-align: center;
}

.empty-state ion-icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.skeleton-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}