.main-header .main-header-row {
  display: flex;
  justify-content: space-between;
}

.hotel-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.hotel-card ion-card-title {
  color: var(--ion-color-primary);
  font-weight: bold;
}

.hotel-card ion-chip {
  margin-bottom: 4px;
  max-width: 100%;
  white-space: normal;
}

.hotel-card p {
  font-size: 1rem;
  line-height: 1.4;
}