<ion-content [fullscreen]="false">
  @if(isAdmin) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['./add']" color="secondary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }

  @if (loading) {
  <app-skeleton-content></app-skeleton-content>
  } @else {
  @if (!hotels || hotels.length === 0) {
  <div class="empty-state">
    <ion-icon name="sad-outline" color="medium"></ion-icon>
    <h1>Nessun hotel trovato</h1>
    <p>Inizia creandone uno.</p>
  </div>
  } @else {
  <ion-list>
    @for (hotel of hotels; track hotel.id) {
    <ion-card class="hotel-card">
      <ion-card-header class="main-header">
        <div class="main-header-row">
          <div>
            <ion-card-title>Nome: {{ hotel.name || 'Nessun nome' }}</ion-card-title>
            <ion-card-subtitle>ID: {{ hotel.id }}</ion-card-subtitle>
          </div>
          @if(isAdmin) {
          <ion-buttons>
            <ion-button color="danger" (click)="deleteHotel(hotel.id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          }
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            <p><strong>Città:</strong> {{ hotel.city || 'Nessuna città'}}</p>
            <p><strong>Indirizzo:</strong> {{ hotel.address || 'Nessun indirizzo'}}</p>
            <p><strong>Descrizione:</strong> {{ hotel.description || 'Nessuna descrizione' }}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-chip color="primary" slot="start" style="margin-left: 0px;">
            Latitudine: {{ hotel.latitude || 'Nessuna' }}
          </ion-chip>
          <ion-chip color="secondary" slot="start" style="margin-left: 0px;">
            Longitudine: {{ hotel.longitude || 'Nessuna' }}
          </ion-chip>
        </ion-item>
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
  }
  }
</ion-content>