<ion-content>
  @if(loading){ 
    <app-skeleton-content></app-skeleton-content>
  }@else{
  <div class="flax-container">
    <ion-item>
      <ion-label position="floating">Raggio in km</ion-label>
      <ion-select
        interface="popover"
        [ngModel]="positionData.radius"
        (ionChange)="onRadiusChange($event.detail.value)"
      >
        @for(radius of [10,20,30,40,50]; track radius) {
        <ion-select-option [value]="radius"> {{ radius }} </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </div>

  @if (hotels.length > 0) { @for (hotel of hotels; track hotel.id) {
  <ion-card class="hotel-card">
    <div class="hotel-row">
      <div class="hotel-main">
        <div class="hotel-title">{{hotel.name}}</div>
        <div class="hotel-city">{{hotel.city}}</div>
        <div class="hotel-address">{{hotel.address}}</div>
        <div class="hotel-distance">{{hotel.distance | number:'1.0-2'}} km</div>
      </div>
      <div class="hotel-side">
        @if(isLoggedIn){
        <ion-button
          size="small"
          class="hotel-btn"
          [routerLink]="['/guest-rooms', hotel.id]"
          >Prenota ora</ion-button
        >
        }@else{
        <ion-text class="hotel-btn" style="margin-top: 8px"
          >Accedi per prenotare!</ion-text
        >
        }
      </div>
    </div>
  </ion-card>
  } } @else {
  <div style="padding: 1em; text-align: center">
    Nessun hotel nelle vicinanze trovato
  </div>
  } }
</ion-content>
