<ion-content>
  <!-- Selettore per il raggio -->
  <ion-item>
    <ion-label position="fixed">Raggio di ricerca (km):</ion-label>
    <ion-select
      name="radius"
      [ngModel]="positionData.radius"
      (ngModelChange)="onRadiusChange($event)"
      interface="popover"
    >
      <ion-select-option *ngFor="let r of [10,15,20,25,30,40,50]" [value]="r">
        {{ r }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  @if (hotels.length > 0) { @for (hotel of hotels; track hotel.id) {
  <ion-card class="hotel-card">
    <ion-card-content>
      <h2>{{hotel.name}}</h2>
      <p>{{hotel.address}}</p>
      <div class="hotel-details">
        <p>Distanza: {{hotel.distance | number:'1.0-2'}} km</p>
      </div>
    </ion-card-content>
    @if(isLoggedIn){
      <ion-button [routerLink]="['/guest-rooms', hotel.id]" >Stanze disponibili</ion-button>
    }@else {
      <ion-item>Accedi per prenotare!</ion-item>
    }
    
  </ion-card>
  } } @else {
  <ion-card>
    <div style="padding: 1em; text-align: center">
      Nessun hotel nelle vicinanze trovato
    </div>
  </ion-card>
  }
</ion-content>