<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button [routerLink]="['/']" routerLinkActive="active" (click)="scrollToTop($event)">
        <ion-icon name="home-outline" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="tertiary" fill="solid" [routerLink]="['/nearby-hotels']" routerLinkActive="active">
        Hotel nelle vicinanze
      </ion-button>
      @if(isLoggedIn) {
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      }
      @else {
      <ion-button id="login" color="tertiary" fill="solid" [routerLink]="['/login']" routerLinkActive="active">
        Accedi / Registrati
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>