<ion-content [fullscreen]="false">
  <div class="flex-container">
    <div class="register-box">
      <div class="register-title">Crea un nuovo account</div> <!--TODO: Aggiungere alert di avvenuta creazione o cose del genere, svuotare la form o in caso portare su un'altra pagina-->
      <!--TODO: Inoltre bisogna migliorare i form aggiungendo la validazione-->
      <!--TODO: Va aggiunta una ruota di caricamento a register, login ed ogni creazione/visualizzazione in generale, sia per vedere il contenuto da back sia quando facciamo il submit nei form-->
      <ion-item>
        <ion-input [(ngModel)]="registerData.username" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="registerData.password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="registerData.full_name" placeholder="Full Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="registerData.phone" placeholder="Phone" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="registerData.email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="registerData.role" interface="popover" placeholder="Role" value="guest"> <!--TODO: Nascondere a guest e receptionist-->
          <ion-select-option value="guest">Guest</ion-select-option> <!--TODO: Sarebbe meglio ciclare UserRole con un for-loop-->
          <ion-select-option value="receptionist">Receptionist</ion-select-option>
          <ion-select-option value="admin">Admin</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="register()" fill="clear">Registrati</ion-button>
    </div>
  </div>
</ion-content>