<ion-content [fullscreen]="false">
  <div class="flex-container">
    <div class="register-box">
      <div class="register-title">Crea un nuovo account</div>
      <ion-item>
        <ion-input [(ngModel)]="registerData.username" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="registerData.password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="registerData.full_name" placeholder="Full Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="registerData.phone" placeholder="Phone" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="registerData.email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="registerData.role" interface="popover" placeholder="Role" value="guest">
          <ion-select-option value="guest">Guest</ion-select-option>
          <ion-select-option value="receptionist">Receptionist</ion-select-option>
          <ion-select-option value="admin">Admin</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="register()" fill="clear">Registrati</ion-button>
    </div>
  </div>
</ion-content>