<ion-content [fullscreen]="false">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['./add']" color="secondary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  @if (loading) {
  <ion-list>
    @for (item of [1, 2, 3]; track item) {
    <ion-card class="skeleton-card">
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
  } @else {
  @if (!rooms || rooms.length === 0) {
  <div class="empty-state">
    <ion-icon name="sad-outline" color="medium"></ion-icon>
    <h1>Nessuna stanza trovata</h1>
    <p>Inizia creandone una.</p>
  </div>
  } @else {
  <ion-list>
    @for (room of rooms; track room.id) {
    <ion-card class="room-card">
      <ion-card-header>
        <ion-card-title>Stanza N° {{ room.room_number }}</ion-card-title>
        <ion-card-subtitle>ID: {{ room.id }}</ion-card-subtitle>
        <ion-card-subtitle>Hotel ID: {{room.hotel_id}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            <p><strong>Tipo:</strong> {{ room.room_type }}</p>
            <p><strong>Capienza:</strong> {{ room.capacity === 1 ? room.capacity + ' persona' : room.capacity + '
              persone' }}</p>
            <p><strong>Prezzo/Notte:</strong> {{ room.price_per_night | currency:'EUR' }}</p>
            <p><strong>Descrizione:</strong> {{ room.description || 'Nessuna descrizione' }}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-chip [color]="room.is_available === 1 ? 'success' : 'danger'" slot="start" style="margin-left: 0px;">
            {{ room.is_available === 1 ? 'Disponibile' : 'Non Disponibile' }}
          </ion-chip>
          <ion-chip color="primary" slot="start" style="margin-left: 0px;">
            {{ room.created_at }}
          </ion-chip>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="deleteRoom(room.id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
  }
  }
</ion-content>