<ion-content [fullscreen]="false">
  <ion-item button [routerLink]="['./add']">Crea stanza</ion-item>
  @if (loading)
  {
  <ion-spinner name="circular" color="secondary"></ion-spinner> <!--In caso modificare il colore-->
  }
  @else
  {
  @if (!rooms)
  {
  <h1>Errore durante il recupero delle stanze</h1>
  <!--TODO: Forse va modificato direttamente col toast, oppure trasformato in una pagina con il simbolo di errore (punto esclamativo gigante?) al centro e sotto il testo di errore-->
  }
  @else
  {
  <ion-grid class="ion-text-center">
    <!-- Header -->
    <ion-row class="header-row">
      <ion-col size="1">ID</ion-col>
      <ion-col size="1">Hotel ID</ion-col>
      <ion-col size="1">N° Stanza</ion-col>
      <ion-col size="1.5">Tipo</ion-col>
      <ion-col size="1">Capienza</ion-col>
      <ion-col size="1.5">Prezzo/Notte</ion-col>
      <ion-col size="2">Descrizione</ion-col>
      <ion-col size="1.5">Disponibilità</ion-col>
      <ion-col size="1.5">Data Creazione</ion-col>
    </ion-row>

    <!-- Dati -->
    @for (room of rooms; track room.id) {
    <ion-row class="data-row">
      <ion-col size="1">{{ room.id }}</ion-col>
      <ion-col size="2">
        <div>
          <strong>{{ room.hotel_name }}</strong>
          <br>
          <small>{{ room.hotel_city }}</small>
        </div>
      </ion-col>
      <ion-col size="1">{{ room.room_number }}</ion-col>
      <ion-col size="1.5">{{room.room_type }}</ion-col>
      <ion-col size="1">{{ room.capacity }}</ion-col>
      <ion-col size="1.5">{{ room.price_per_night }}</ion-col>
      <ion-col size="2">{{ room.description || 'N/A' }}</ion-col>
      <ion-col size="1.5">
        {{room.is_available}}
      </ion-col>
      <ion-col size="1.5">{{ room.created_at }}</ion-col>
    </ion-row>
    }
  </ion-grid>
  }
  }
</ion-content>