<div class="sidebar" (mouseenter)="expand()" (mouseleave)="collapse()">
  <div class="menu-items">
    <ion-list lines="none"> <!-- Lista Ionic senza bordi -->

      <ion-item button href="/dashboard"> <!--TODO: evitare caricamento pagina se già si è sulla stessa (con qualche if)-->
        <ion-icon name="home-outline"></ion-icon>
        <span class="menu-item-text">Dashboard</span>
      </ion-item>

      <ion-item button href="/users">
        <ion-icon name="people-outline"></ion-icon>
        <span class="menu-item-text">Users</span>
      </ion-item>

    </ion-list>
  </div>
</div>