<ion-content>
  <div class="flex-container">
    <div>
      <div>Crea una nuova stanza</div>
      <ion-item>
        <ion-input [(ngModel)]="addRoomData.room_number" type="number" placeholder="Numero di stanza"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="addRoomData.room_type" interface="popover" placeholder="Tipo di stanza" value="double">
          <ion-select-option value="double">Doppia</ion-select-option>
          <ion-select-option value="?????">????</ion-select-option>
          <ion-select-option value="??????">?????</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="addRoomData.capacity" type="number" placeholder="Capacità"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="addRoomData.price_per_night" placeholder="Prezzo per notte"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="addRoomData.hotel_id" type="number" placeholder="ID dell' Hotel di appartenenza"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="addRoomData.description" placeholder="Descrizione"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addRoom()" fill="clear">Crea stanza</ion-button>
    </div>
  </div>
</ion-content>