/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
    --navbar-height: 56px; //Altezza standard ion-toolbar
    --sidebar-width: 100px; //Larghezza del side-menu nelle rotte /personnel/
}

ion-router-outlet {
    margin-top: var(--navbar-height);
}

ion-content {
  --ion-background-color: #f8fafc; //Colore di background di tutte le pagine
}

.skeleton-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

ion-card {
  --background: white; //Colore di sfondo delle card
  border-radius: 12px; //Angoli arrotondati per le card
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); //Ombra delicata per le card
}

ion-card-content ion-item {
  --background: transparent; //Rimuove lo sfondo dagli item interni alle card
}

.empty-state { //Stili per skeleton content e pagine che restituiscono array vuoti
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  text-align: center;
}

.empty-state ion-icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.custom-toast {

  //Usiamo ::part per stilizzare in modo sicuro gli elementi interni del componente Ionic
  //Questo è l'approccio raccomandato e più robusto.

  &::part(message) {
    //Assicura che il testo del messaggio sia allineato correttamente
    //e non abbia stili che interferiscono con flexbox.
    text-align: center;
  }
}